__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/test/test_outputs
/cache
.direnv/
.devenv/
/.venv/
.envrc.private
result
.pre-commit-config.yaml

# nixago: ignore-linked-files
/models/BLIP/model_base_caption_capfilt_large.pth
/models/Stable-diffusion/v1-5-pruned-emaonly.safetensors
/extensions/sd-webui-stablesr/models/webui_768v_139.ckpt
/models/Stable-diffusion/v2-1_768-ema-pruned.safetensors
/.vscode/extensions.json
